:root {
   
}

* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, body, html, body, p {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f4f4f4;
    padding-left: 50px;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

.nav {
    width: 50px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 10px;
}
.nav .nav__icon {
    margin-bottom: auto;
}
.nav__icon svg {
    display: block;
    margin-top: -16px;
}
.nav .nav__list {
    margin-bottom: auto;
    display: flex;
    list-style: none;
    transform: rotate(-90deg);
    font-weight: 600;
}
.nav .dot svg {
    fill: #e22424;
}
.nav .nav__list > * {
    margin-right: 10px;
}
.nav__list .nav__divider {
    font-weight: 300;
    font-size: 13px;
    margin-top: 1px;
}

.header {
    margin-top: 25px;
    text-align: center;
    align-self: start;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.header .header__title {
    margin-right: auto;
    margin-left: auto;
    font-weight: 500;
    font-size: 16px;
}
/*
.pagination {
    align-self: end;
    justify-self: center;
    margin-bottom: 25px;
    font-weight: 500;
}
*/
.page__num .pagination__number--current {
    text-decoration: line-through;
}
.page__num .pagination__number {
    margin-right: 7px;
}
.page__num .pagination__number:last-child {
    margin-right: 0;
}

.pagination {
    display: grid;
    grid-template-columns: 51% 49%;
    width: 100%;
    height: 50px;
    margin-top: 60px;
}
.pagination .page__num, .pagination .btn {
    display: flex;
    justify-self: flex-end;
    align-self: flex-start;
}
.pagination .btn.right {
    display: block;
    margin-right: 10px;
    transform: rotate(90deg);
}
.btn .btn__text {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}

.slider {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider .slider__arrow:first-child {
    color: #8e8e8e;
    margin-right: 20px;
}
.slider .slider__arrow:last-child {
    color: #8e8e8e;
    margin-left: 20px;
}

.slider .slider__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 74vh;
    grid-gap: 20px;
    background-color: #fff;
}

.slider__content .slider__photo {
    background-image: url('https://static.independent.co.uk/s3fs-public/thumbnails/image/2016/02/02/11/10-Prague.jpg');
    background-size: cover;

}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 80%;
}
.info .info__pre-title {
    text-transform: uppercase;
    color: #3498db;
    font-weight: 300;
}
.info .info__pre-title, .info .info__title, .info .info__intro {
    margin-bottom: 40px;
}
.info .info__title {
    font-size: 44px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
.info .info__intro {
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.info .info_date {
    text-transform: uppercase;
}